html {
  height: 100%
}

body {
  background-color: #f4f1ec;
}

input[type="radio"]{
  margin: 0 5px 0 10px;
}

 .title {
   padding-top: 40px;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   color: #6495ED;
   padding-bottom: 100px;
 }

.new_game_button {
  text-align: center;
}

.play_button {
  text-align: center;
  padding-top: 30px;
}

.p1_vs_p2 {
  padding-top: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #B0C4DE;
  padding-bottom: 100px;
}

.player_chose {
  color: #6495ED;
  text-align: center;
  padding-top: 60px;
}


.computer_chose {
  color: #FFA07A;
  text-align: center;
  padding-bottom: 80px;
}

.victory_message {
  color: #8FBC8F;
  text-align: center;
  padding-bottom: 300px;
}

.tie_message {
  color: #F0E68C;
  text-align: center;
  padding-bottom: 300px;
}

.defeat_message {
  color: #F08080;
  text-align: center;
  padding-bottom: 300px;
}

a.play_again {
  color: #A9A9A9;
  text-align: center;
  bottom: 0px;
  width: 100%;
  padding-bottom: 100px;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.sign_up_header {
  padding-top: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #6495ED;
  padding-bottom: 50px;
}

.sign_up_form {
  text-align: center;
}

.sign_in_redirect {
  text-align: center;
}

.home_or_ran_user {
  text-align: center;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: center;
    color: 	#696969
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #F0F8FF
}

th, td {
    padding: 15px;
}
