<form action="/play" method="post">
  <h2 class="title">Rock Paper Scissors</h2>
  <div class="new_game_button">
    <input type="submit" class="btn btn-sdefault btn-primary" value="New Game">
  </div>
</form>
