<form action="/play" method="post">
  <h2 class="title">Rock Paper Scissors</h2>
  <div class="input_name_button">
    <input type="text" name="name" placeholder="Enter Your Name To Begin">
    <br><input type="submit" class="btn btn-sdefault btn-primary" value="Let's play!">
  </div>
</form>
