<h2 class="player_chose"> You chose <%= @game.player.weapon.capitalize %></h2>
<h2 class="computer_chose"><%= @game.computer.name %> chose <%= @game.computer.weapon.capitalize %></h2>

<% if @game.outcome == Game::POSSIBLE_OUTCOMES[0] %>
     <h2 class="victory_message"> Congratulations, you win!</h2>
<% elsif @game.outcome == Game::POSSIBLE_OUTCOMES[1] %>
     <h2 class="tie_message"> It's a tie!</h2>
<% else %>
     <h2 class="defeat_message">You lost this time.</h2>
<% end %>

<h4> <a href="/" class="play_again">Play Again</a> </h4>
